<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>User Page</h1>
    <form action="">
      <div class="editor">
        <label for="question">Question</label>
        <textarea name="question" id="question"></textarea>
      </div>
      <div class="editor">
        <label for="answer">Answer</label>
        <textarea name="answer" id="answer"></textarea>
      </div>
      <button onClick="create()">Create FAQ</button>
    </form>

    <h3 class="faq">FAQs</h3>
    <div id="faqlist">
        <div class="faq">
            <div>jdkqjdkjql dqldlqdjlqjd q dldlqj dlqj dlkqj d</div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
              fugiat, accusamus sunt cum amet qui earum consequatur commo ?
            </div>
          </div>
    </div>
    
    <script src="javascript/script.js"></script>
  </body>
</html>
