<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/styles.css" />
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>User Page</h1>
    <div class="form">
      <div class="editor">
        <label for="question">Question</label>
        <textarea name="question" id="question"></textarea>
      </div>
      <div class="editor">
        <label for="answer">Answer</label>
        <textarea name="answer" id="answer"></textarea>
      </div>
      <button onClick="create()">Create FAQ</button>
    </div>

    <h3 class="faq">FAQs</h3>
    <div id="faqlist">
      
    </div>

    <script src="javascript/script.js"></script>
  </body>
</html>
